
.banner-view {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'micsoft';
  .bv-topbox {
    width: 100%;
    border-radius: 6px;
    background-color: #fff;
    height: 50px;
    box-sizing: border-box;
    padding: 10px 15px;
    line-height: 30px;
    .bv-tit {
      font-size: 16px;
      color: #000000E0;
      font-weight: 570;
    }
    .bv-tit2 {
      margin-left: 15px;
      font-size: 14px;
      color: #00aeec;
    }
  }
  .bv-content {
    width: 100%;
    flex: 1;
    border-radius: 6px;
    background-color: #fff;
    margin-top: 15px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: flex;
    .bv-banner-show1 {
      width: 540px;
      height: 520px;
      .bbs-title {
        width: 100%;
        height: 20px;
        margin-bottom: 20px;
        line-height: 20px;
        font-size: 14px;
      }
      .bb-bannerbox {
        width: 540px;
        height: 450px;
        background-color: rgb(232, 232, 232);
        border-radius: 6px;
      }
      .conbtn {
        width: 100%;
        height: 30px;
        margin-top: 10px;
        display: flex;
        justify-content: end;
        .playbtn {
          width: 100px;
          height: 30px;
          text-align: center;
          line-height: 30px;
          border-radius: 3px;
          text-align: center;
          font-size: 14px;
          background-color: #00aeec;
          color: #fff;
          cursor: pointer;
          user-select: none;
        }
        .stopb {
          background-color: #fff;
          box-sizing: border-box;
          color: #9499a0;
          background-color: #e3e5e7;
        }
      }
    }
    .bv-banner-change-box {
      height: 100%;
      flex: 1;
      box-sizing: border-box;
      padding: 30px 0 20px 20px;
      .change-box {
        border-radius: 6px;
        height: 700px;
        flex: 1;
        background-color: #fff;
        transition: background-color 0.5s linear;
        overflow-y: auto;
        box-sizing: border-box;
        padding: 10px;
        position: relative;
        &:hover {
          background-color: rgb(232, 232, 232);
        }
        .one-banner {
          width: 100%;
          height: 180px;
          background-color: #fff;
          border-radius: 6px;
          margin-bottom: 10px;
          box-sizing: border-box;
          padding: 10px 0 10px 10px;
          display: flex;
          .addnew-banner {
            margin: 0 auto;
            width: 180px;
            height: 180px;
            text-align: center;
            line-height: 200px;
            font-size: 14px;
            font-weight: 560;
            color: #9499a0;
            box-sizing: border-box;
            border-radius: 6px;
            // border: 3px dashed #9499a0;
          }
          .banner-coverbox {
            width: 240px;
            height: 160px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 6px;
            }
          }
          .banner-infos {
            height: 160px;
            flex: 1;
            margin: 0 10px;
            .banner-title {
              width: 100%;
              height: 60px;
              line-height: 20px;
              font-size: 14px;
              color: #222;

              display: -webkit-box;
              overflow: hidden;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
            .banner-type {
              margin-top: 20px;
              width: 100%;
              height: 20px;
              line-height: 20px;
              font-size: 13px;
              color: #9499a0;
            }
          }
          .deletebox {
            height: 160px;
            width: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            
            &:hover {
              .iconfont {
                translate: 0 0;
              }
            }
            .iconfont {
              color: rgb(218, 90, 133);
              cursor: pointer;
              user-select: none;
              font-size: 30px;
              transition: translate 0.3s linear;
              translate: 50px 0;
            }
            .ic1 {
              color: #9499a0;
            }
          }
        }
      }
      .change-box::-webkit-scrollbar {
        width: 6px;
        background-color: transparent;
      }
      .change-box::-webkit-scrollbar-track {
        width: 6px;
        background-color: transparent;
      }
      .change-box::-webkit-scrollbar-thumb {
        width: 6px;
        border-radius: 3px;
        background-color: #d0d2d4;
        visibility: hidden;
        &:hover {
          visibility: visible;
        }
      }
    }
  }
  .banner-c-view {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    .bcv-black {
      width: 100%;
      height: 100%;
      background-color: #00000080;
    }
    .select-banner-box {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: 600px;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sbb-top {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .iconfont {
          position: absolute;
          right: 20px;
          top: 5px;
          cursor: pointer;
          user-select: none;
        }
      }
      .select-content {
        margin-top: 20px;
        width: 100%;
        height: 450px;
        box-sizing: border-box;
        overflow-y: auto;
        background-color: #ece7e7;
        border-radius: 6px;
        position: relative;
        .one-bn {
          width: 100%;
          height: 150px;
          padding: 5px 0;
          box-sizing: border-box;
          background-color: #fff;
          cursor: pointer;
          user-select: none;
          display: flex;
          position: relative;
          .box-bn2-img {
            width: 220px;
            height: 140px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 4px;
            }
          }
          .bn2-right-info2{
            flex: 1;
            height: 140px;
            margin-left: 10px;
            font-size: 13px;
            color: #9499a0;
            .title-bn2 {
              width: 100%;
              height: 70px;
              color: #222;
              display: -webkit-box;
              overflow: hidden;
              word-break: break-all;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 3;
            }
            .type-bn2 {
              width: 100%;
              height: 70px;
            }
          }
          .addbox2 {
            width: 100%;
            height: 140px;
            display: flex;
            align-items: center;
            justify-content: center;
            .add2-box {
              font-size: 14px;
              color: #9499a0;
            }
          }
          .hover-box {
            position: absolute;
            top: 0;
            border-radius: 4px;
            width: 100%;
            height: 100%;
            &:hover {
              background-color: #53b0df52;
            }
          }
        }
      }
      .select-content::-webkit-scrollbar {
        width: 4px;
        background-color: transparent;
      }
      .select-content::-webkit-scrollbar-track {
        width: 4px;
        background-color: transparent;
      }
      .select-content::-webkit-scrollbar-thumb {
        width: 4px;
        border-radius: 2px;
        background-color: rgb(230, 221, 221);
      }
      .select-bt-line {
        margin-top: 20px;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        .sbl-btn {
          padding: 0 30px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          box-sizing: border-box;
          font-size: 14px;
          color: #9499a0;
          cursor: pointer;
          user-select: none;
          margin-right: 20px;
          background-color: #e3e5e7;
          border-radius: 4px;
        }
        .btn2 {
          background-color: #00aeec;
          color: #fff;
        }
      }
    }
    .create-newone {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: 600px;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sbb-top {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .iconfont {
          position: absolute;
          right: 20px;
          top: 5px;
          cursor: pointer;
          user-select: none;
        }
      }
      .bannertitle {
        width: 100%;
        height: 40px;
        margin-top: 20px;
        box-sizing: border-box;
        padding: 0 15px;
        .newtitle {
          width: 100%;
          height: 40px;
          border: 1px solid #9499a0;
          border-radius: 4px;
          outline: none;
          box-sizing: border-box;
          padding: 0 10px;
        }
      }
      .bannercover {
        width: 100%;
        height: fit-content;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-sizing: border-box;
        padding: 0 15px;
        .addbtn {
          border-radius: 4px;
          width: 536px;
          height: 446px;
          text-align: center;
          line-height: 450px;
          color: #222;
          font-size: 13px;
          border: 2px dashed #9499a0;
          cursor: pointer;
          user-select: none;
        }
        .newcover {
          position: absolute;
          visibility: hidden;
        }
        .onebanner-berbox {
          position: absolute;
          z-index: 2;
          width: 540px;
          height: 450px;
          border-radius: 6px;
          .hover-tochange {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            position: absolute;
            background-color: #00000080;
            z-index: 2;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 450px;
            color: #fff;
            cursor: pointer;
            user-select: none;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          &:hover {
            .hover-tochange {
              opacity: 1;
            }
          }
          .urlimg1 {
            width: 540px;
            height: 360px;
            border-radius: 6px 6px 0 0;
            background-color: rgb(213, 204, 204);
          }
          .translate-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 180px;
            border-radius: 0 0 6px 6px;
            .bn-bottom {
              margin-top: 60px;
              width: 540px;
              height: 90px;
              border-radius: 0 0 6px 6px;
              .title-box {
                margin-top: 15px;
                width: 100%;
                height: 60px;
                padding: 0 15px;
                .bn-title-line {
                  width: 100%;
                  height: 25px;
                  line-height: 25px;
                  font-size: 20px;
                  color: #fff;
                  width: 350px;
                }
              }
            }
          }
        }
      }
      .select-line {
        width: fit-content;
        box-sizing: border-box;
        padding: 0 15px;
        margin-top: 20px;
        height: 40px;
        box-sizing: border-box;
        cursor: pointer;
        user-select: none;
        .sl-innerborder {
          height: 30px;
          width: 100%;
          border: 1px solid #9499a0;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 0 10px;
        }
        span {
          font-size: 14px;
          color: #9499a0;
        }
        .sp2 {
          color: #32aeec;
          margin-left: 10px;
        }
      }
      .okline {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .cancelbtn {
          width: 110px;
          height: 40px;
          cursor: pointer;
          user-select: none;
          text-align: center;
          line-height: 40px;
          border-radius: 4px;
          background-color: #e3e5e7;
        }
        .btnok {
          margin-left: 40px;
          background-color: #32aeec;
          color: #fff;
        }
      }
    }
    .seelctidbox {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: 600px;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sbb-top {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .iconfont {
          position: absolute;
          right: 20px;
          top: 5px;
          cursor: pointer;
          user-select: none;
        }
      }
      .selectbox-content {
        box-sizing: border-box;
        padding: 0 10px;
        margin-top: 20px;
        width: 100%;
        height: fit-content;
        .topselectline {
          width: 100%;
          height: 40px;
          .tl-box {
            display: inline-block;
            color: #9499a0;
            font-size: 14px;
            height: 40px;
            position: relative;
            width: fit-content;
            line-height: 40px;
            cursor: pointer;
            user-select: none;
            margin-right: 20px;
            .tlb {
              left: 50%;
              translate: -50% 0;
              position: absolute;
              bottom: 5px;
              height: 4px;
              width: 20px;
              border-radius: 3px;
            }
            .activebox {
              background-color: #32aeec;
            }
          }
        }
        .idcontent {
          width: 100%;
          height: 350px;
          overflow-y: auto;
          box-sizing: border-box;
          padding-right: 8px;
          .oneitem {
            width: 100%;
            height: fit-content;
            cursor: pointer;
            user-select: none;
            &:hover {
              border-radius: 4px;
              background-color: #27aaec78;
              color: #fff;
            }
            .videoitem {
              width: 100%;
              height: 90px;
              box-sizing: border-box;
              padding: 10px;
              display: flex;
              .vd-leftcover {
                width: 100px;
                height: 100%;
                position: relative;
                .timediv {
                  position: absolute;
                  right: 5px;
                  bottom: 5px;
                  font-size: 12px;
                  padding: 0 5px;
                  border-radius: 3px;
                  background-color: #00000080;
                  color: #fff;
                }
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                }
              }
              .vd-rightinfo {
                height: 100%;
                flex: 1;
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                .vd-titleline {
                  width: 100%;
                  height: 40px;
                  line-height: 20px;
                  font-size: 13px;
                  color: #222;

                  overflow: hidden;
                  word-break: break-all;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                }
                .vd-infos {
                  float: 1;
                  width: 100%;
                  margin-top: 5px;
                  display: flex;
                  .oneinfo {
                    height: 20px;
                    display: flex;
                    align-items: center;
                    font-size: 12px;
                    color: #9499a0;
                    margin-right: 20px;
                    .iconfont {
                      margin-right: 5px;
                    }
                  }
                }
                .vd-infos2 {
                  width: 100%;
                  flex: 1;
                  .onemg-line {
                    margin-top: 5px;
                    height: 20px;
                    line-height: 20px;
                    display: flex;
                    font-size: 12px;
                    color: #9499a0;
                    span {
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }
          .oneitem-active {
            border-radius: 4px;
            background-color: #27aaec78;
            color: #fff;
          }
          &::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-track {
            width: 6px;
            background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            width: 6px;
            border-radius: 3px;
            background-color: #9499a0;
          }
        }
      }
      .okline {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .cancelbtn {
          width: 110px;
          height: 40px;
          cursor: pointer;
          user-select: none;
          text-align: center;
          line-height: 40px;
          border-radius: 4px;
          background-color: #e3e5e7;
        }
        .btnok {
          margin-left: 40px;
          background-color: #32aeec;
          color: #fff;
        }
      }
    }
    .editorbox-banner {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: 600px;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sbb-top {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .iconfont {
          position: absolute;
          right: 20px;
          top: 5px;
          cursor: pointer;
          user-select: none;
        }
      }
      .editor-box {
        height: fit-content;
        position: relative;
        height: 580px;
        .bannertitle {
          width: 100%;
          height: 40px;
          margin-top: 20px;
          box-sizing: border-box;
          padding: 0 15px;
          .newtitle {
            width: 100%;
            height: 40px;
            border: 1px solid #9499a0;
            border-radius: 4px;
            outline: none;
            box-sizing: border-box;
            padding: 0 10px;
          }
        }
        .onebanner-berbox {
          margin-top: 20px;
          left: 50%;
          translate: -50% 0;
          position: absolute;
          z-index: 2;
          width: 540px;
          height: 450px;
          border-radius: 6px;
          .hover-tochange {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            position: absolute;
            background-color: #00000080;
            z-index: 2;
            top: 0;
            left: 0;
            text-align: center;
            line-height: 450px;
            color: #fff;
            cursor: pointer;
            user-select: none;
            opacity: 0;
            transition: opacity 0.3s ease;
          }
          &:hover {
            .hover-tochange {
              opacity: 1;
            }
          }
          .urlimg1 {
            width: 540px;
            height: 360px;
            border-radius: 6px 6px 0 0;
            background-color: rgb(213, 204, 204);
          }
          .translate-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 180px;
            border-radius: 0 0 6px 6px;
            .bn-bottom {
              margin-top: 60px;
              width: 540px;
              height: 60px;
              border-radius: 0 0 6px 6px;
              .title-box {
                margin-top: 15px;
                width: 100%;
                height: 60px;
                padding: 0 15px;
                box-sizing: border-box;
                padding-top: 40px;
                .bn-title-line {
                  width: 100%;
                  height: 25px;
                  line-height: 25px;
                  font-size: 20px;
                  color: #fff;
                  width: 350px;
                }
              }
            }
          }
        }
        .select-line {
          width: 100%;
          height: 40px;
          position: absolute;
          bottom: 0;
          left: 15px;
        }
      }
      .okline {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .cancelbtn {
          width: 110px;
          height: 40px;
          cursor: pointer;
          user-select: none;
          text-align: center;
          line-height: 40px;
          border-radius: 4px;
          background-color: #e3e5e7;
        }
        .btnok {
          margin-left: 40px;
          background-color: #32aeec;
          color: #fff;
        }
      }
    }
    .deletebox-banner {
      position: absolute;
      left: 50%;
      top: 50%;
      translate: -50% -50%;
      width: 600px;
      height: fit-content;
      box-sizing: border-box;
      padding: 20px 15px;
      background-color: #fff;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .sbb-top {
        position: relative;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
        .iconfont {
          position: absolute;
          right: 20px;
          top: 5px;
          cursor: pointer;
          user-select: none;
        }
      }
      .dcontd {
        width: 100%;
        height: 80xp;
        line-height: 80px;
        text-align: center;
        font-size: 14px;
        color: #222;
      }
      .okline {
        width: 100%;
        height: 50px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 14px;
        .cancelbtn {
          width: 110px;
          height: 40px;
          cursor: pointer;
          user-select: none;
          text-align: center;
          line-height: 40px;
          border-radius: 4px;
          background-color: #e3e5e7;
        }
        .btnok {
          margin-left: 40px;
          background-color: #32aeec;
          color: #fff;
        }
      }
    }
  }
}