.allboardview {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding-bottom: 30px;
  .b-lines {
    width: 100%;
    height: 56px;
    box-sizing: border-box;
    padding-top: 8px;
    display: flex;
    .onebox {
      margin: 16px 16px 0 0;
      height: 32px;
      border-radius: 16px;
      padding: 0 10px;
      background-color: #1c1f23;
      color: #fff;
      line-height: 32px;
      font-weight: 600;
      cursor: pointer;
      user-select: none;
      font-size: 14px;
    }
  }
  .boards-con {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    padding: 16px 0 60px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 255px;
    .addbox {
      width: 100%;
      height: 152px;
      box-sizing: border-box;
      border: 4px dashed rgba(0, 0, 0, .08);
      border-radius: 12px;
      line-height: 152px;
      text-align: center;
      box-sizing: border-box;
      padding: 0 6px 14px;
      cursor: pointer;
      user-select: none;
      &:hover {
        color: #1c1f23;
        background-color: #e4e9ed;
      }
    }
    .one-board {
      width: 240px;
      height: 255px;
      margin: 0 16px 16px 0;
      border-radius: 4px;
      .innerboximg {
        width: 228px;
        height: 211px;
        padding: 0 6px 14px;
        cursor: pointer;
        user-select: none;
        .imgbox {
          display: flex;
          border-radius: 12px;
          overflow: hidden;
          position: relative;
          width: 100%;
          height: 152px;
          .imgcoverbox {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
            transition: background-color .25s ease-in-out;
            &:hover {
              background-color: rgba(30, 32, 35, .35);
              .editorimgbox {
                opacity: 1;
              }
            }
            .editorimgbox {
              position: absolute;
              top: 10px;
              right: 10px;
              padding: 0 10px;
              height: 40px;
              border-radius: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #ffffffd0;
              opacity: 0;
              transition: opacity .25s ease-in-out;
              .icon1 {
                height: 40px;
                padding: 0 6px;
                text-align: center;
                line-height: 40px;
              }
              .icon2 {
                height: 40px;
                padding: 0 3px;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: #1c1f23;
              }
              .spp {
                height: 18px;
                width: 1px;
                margin: 0 6px 0 12px;
                background-color: #1c1f2380;
              }
            }
          }
          .box1 {
            width: 152px;
            height: 152px;
            .b1img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .box2 {
            width: 76px;
            height: 152px;
            .imgbox2 {
              width: 76px;
              height: 76px;
              object-fit: cover;
              .b2img {
                width: 100px;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
        .ingobox {
          width: 100%;
          height: 20px;
          .titleline {
            margin-top: 6px;
            width: 100%;
            height: 27px;
            box-sizing: border-box;
            padding-left: 6px;
            font-size: 18px;
            font-weight: 600;
            color: #1E2023;
            cursor: pointer;
            user-select: none;
          }
          .infol {
            margin-top: 4px;
            box-sizing: border-box;
            padding-left: 6px;
            width: 100%;
            height: 24px;
            font-size: 14px;
            color: #1E202373;
          }
        }
      }
    }
  }
  .noemoeline {
    margin: 65px 0;
    width: 100%;
    height: 21px;
    line-height: 21px;
    text-align: center;
    color: #1E202373;
    font-size: 14px;
  }
}


.blackview {
  width: 100vw;
  height: 100vh;
  background-color: #00000080;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  .createbox {
    position: absolute;
    left: 50%;
    top: 45%;
    width: 440px;
    box-sizing: border-box;
    padding: 20px 24px;
    border-radius: 12px;
    background-color: #fff;
    translate: -50% -50%;
    .createtopline {
      width: 100%;
      height: 30px;
      position: relative;
      .txtmid {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        font-weight: 600;
      }
      .iconfont {
        position: absolute;
        right: 0;
        top: 50%;
        translate: 0 -50%;
        cursor: pointer;
      }
    }
    .coverbox {
      width: 100%;
      height: 100px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .addcoverbox {
        width: 100px;
        height: 100px;
        background-color: pink;
      }
    }
    .changecoverline {
      width: 100%;
      height: 30px;
      margin-top: 15px;
      display: flex;
      .switchbox {
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-size: 14px;
        color: grey;
        input {
          cursor: pointer;
        }
        label {
          cursor: pointer;
          user-select: none;
        }
      }
    }
    .inputline {
      margin-top: 15px;
      width: 100%;
      height: 46px;
      box-sizing: border-box;
      border-radius: 12px;
      border: 1px solid rgba(30, 32, 35, .1);
      display: flex;
      align-items: center;
      padding: 0 10px;
      position: relative;
      transition: border-color .3s ease;
      .iconfont {
        position: absolute;
        top: 50%;
        right: 0;
        translate: -50% -50%;
      }
      .classify-selectbox {
        position: absolute;
        width: 100%;
        height: 220px;
        background-color: #fff;
        border-radius: 12px;
        left: 0;
        top: 46px;
        box-shadow:-5px 5px 10px -4px #c2c2c291,5px 5px 10px -4px #c2c2c291;
        box-sizing: border-box;
        padding: 15px 10px;
        overflow: auto;
        .oneselect {
          width: 100%;
          height: 30px;
          margin-bottom: 10px;
          cursor: pointer;
          user-select: none;
          box-sizing: border-box;
          padding: 0 10px;
          line-height: 30px;
          &:hover {
            background-color: rgba(225, 220, 220, 0.837);
            border-radius: 8px;
          }
        }
      }
      .inputtitle {
        position: absolute;
        top: 50%;
        translate: 0 -50%;
        width: 40px;
        height: 26px;
        background-color: #fff;
        line-height: 26px;
        text-align: center;
        font-size: 14px;
        color: #1e2023;
        transition: top .3s ease;
      }
      .inp1 {
        width: 100%;
        height: 43px;
        border: 0;
        outline: none;
        box-sizing: border-box;
        padding: 10px 0;
      }
    }
    .inputline-active {
      border-color: #ff5967;
      .inputtitle {
        top: -15px;
        font-size: 12px;
        color: #ff5967;
        translate: 0 0;
      }
    }
    .okline {
      margin-top: 15px;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: right;
      .canclebox {
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 12px;
        box-sizing: border-box;
        border: 1px solid rgba(30, 32, 35, .1);
        margin-right: 20px;
        cursor: pointer;
        user-select: none;
      }
      .okbox {
        width: 60px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 12px;
        background-color: pink;
        color: #fff;
        cursor: default;
        user-select: none;
      }
      .okbox-active {
        background-color: rgb(226, 35, 67);
        cursor: pointer;
      }
    }
  }
}