
.upcenter-allbox {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 80px 0 50px 0;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.upcenter-box {
  width: 1100px;
  // ⭐ height 为100% 时， 会出现偏移
  height: fit-content;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  .videeo {
    position: absolute;
    top: 200px;
    left: 100vw;
    z-index: 4;
    width: 400px;
    height: 300px;
    display: none;
  }
}

.up-title {
  width: 100%;
  height: 64px;
  display: flex;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
  .ready-pro {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    .one-uptype {
      height: 64px;
      margin-left: 30px;
      position: relative;
      text-align: center;
      line-height: 64px;
      a {
        text-decoration: none;
      }
      span {
        font-size: 14px;
        color: #222;
      }
      .active-btm {
        position: absolute;
        bottom: 4px;
        width: 80%;
        left: 50%;
        translate: -50% 0;
        height: 2px;
        background-color: #32AEEC;
      }
    }
  }
  .upinfos-span {
    width: 100%;
    height: 64px;
    font-size: 16px;
    line-height: 64px;
    margin-left: 30px;
    color: #212121;
    font-weight: 550;
  }
}
.up-conetnt {
  width: 100%;
  flex: 1;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 60px;
  // 上传视频页面
  .video-uploader {
    margin: 120px auto 0;
    box-sizing: border-box;
    width: 830px;
    height: 270px;
    border: 2px dashed #757575;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    .text-up-span {
      font-size: 14px;
      color: #949494;
    }
    .upvideo-inp {
      cursor: pointer;
      position: absolute;
      display: none;
      opacity: 0;
    }
    .video-uocent {
      color: #fff;
      margin: 20px auto;
      width: 200px;
      height: 44px;
      cursor: pointer;
      user-select: none;
      background: #00a1d6;
      border-radius: 4px;
      transition: background-color .3s ease;
      text-align: center;
      line-height: 40px;
      white-space: nowrap;
    }
  }
  // 上窜服务器
  .uploading-box {
    // background-color: red;
    margin: 200px auto 0 auto;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .pro-text {
      font-size: 14px;
      color: #949494;
    }
    .progress-loading-box {
      margin-top: 30px;
      width: 800px;
      height: 4px;
      border-radius: 2px;
      background-color: #dde0e3;
      .plb-done {
        // translate: 0 -1px;
        height: 4px;
        width: 0;
        background-color: #32AEEC;
        border-radius: 3px;
      } 
    }
  }
  // 基本信息
  .infos-box-up {
    box-sizing: border-box;
    padding: 20px 30px;
    width: 100%;
    height: fit-content;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // height: fit-content;
    .had-up-infos {
      width: 100%;
      height: 110px;
      background-color: #f6f7f8;
      box-sizing: border-box;
      border-radius: 10px;
      padding: 20px 10px;
      .hadupload-box {
        width: 200px;
        height: 70px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 0 10px;
        .hadup-box-line1 {
          width: 100%;
          height: 15px;
          line-height: 15px;
          font-size: 14px;
          color: #18191C;

          text-overflow: ellipsis;
          overflow: hidden;
          word-break: break-all;
          white-space: nowrap;
        }
        .hadup-box-line2 {
          margin-top: 7px;
          width: 100%;
          height: 15px;
          display: flex;
          align-items: center;
          .icon {
            width: 14px;
            height: 14px;
            border-radius: 7px;
            text-align: center;
            line-height: 14px;
            color: #fff;
            font-size: 10px;
            background-color: #43ce5b;
          }
          .hadup-span {
            margin-left: 10px;
            font-size: 12px;
            color: #43ce5b;
          }
        }
      }
    }
    .addtovidellist-line {
      width: 100%;
      height: 40px;
      margin: 40px 0;
      display: flex;
      .al-left1 {
        width: 120px;
        font-size: 14px;
        color: #949494;
        line-height: 40px;
        margin-right: 20px;
      }
      .al-right {
        width: 200px;
        height: 40px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 1px solid #e3e5e7;
        padding: 0 10px;
        line-height: 40px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: #e3e5e7;
        }
        .numspan {
          font-size: 14px;
          color: #222;
        }
      }
    }
    .select-view-list {
      width: 100vw;
      height: 100vh;
      background-color: #00000080;
      left: 0;
      top: 0;
      position: fixed;
      z-index: 5;
      .add-new-view {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 420px;
        height: fit-content;
        height: 300px;
        background-color: #fff;
        border-radius: 4px;
      }
      .list-box-tos {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 420px;
        height: fit-content;
        background-color: #fff;
        border-radius: 4px;
        .lbt-line1x {
          width: 100%;
          height: 50px;
          line-height: 50px;
          font-size: 14px;
          color: #222;
          text-align: center;
          position: relative;
          border-bottom: 1px solid #e3e5e7;
          .icon {
            position: absolute;
            right: 20px;
            top: 50%;
            translate: 0 -50%;
            rotate: 45deg;
            cursor: pointer;
            user-select: none;
          }
        }
        .lbt-content {
          width: 100%;
          height: fit-content;
          box-sizing: border-box;
          padding: 10px 15px;
          .lbt-innerbox {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            .one-lbt-box {
              width: 100%;
              height: 120px;
              box-sizing: border-box;
              padding: 10px;
              cursor: pointer;
              user-select: none;
              display: flex;
              &:hover {
                background-color: #e3e5e7;
              }
              .llbt-left-cover {
                width: 150px;
                height: 100%;
                .llbt-cover-img {
                  width: 100%;
                  height: 100%;
                  border-radius: 4px;
                }
              }
              .llbt-right-info {
                height: 100%;
                flex: 1;
                margin-left: 10px;
                .llb-right-title {
                  width: 100%;
                  height: 40px;
                  line-height: 20px;
                  font-size: 14px;
                  color: #222;

                  word-break: break-all;
                  overflow: hidden;
                  display: -webkit-box;

                }
                .llb-nums {
                  margin-top: 30px;
                  width: 100%;
                  height: 20px;
                  font-size: 12px;
                  color: #9499a0;
                }
              }
            }
            .olb-active {
              background-color: #e3e5e7;
            }
            .noresult-videw {
              width: 100%;
              height: fit-content;
              .noresult-img {
                width: 100%;
                height: 300px;
              }
              .noresult-text {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #9499a0;
                text-align: center;
                margin-top: 20px;
              }
            }
          }
        }
        .lbt-bottom {
          margin: 20px 0 30px;
          width: 100%;
          height: 40px;
          display: flex;
          justify-content: center;
          .lb-btn2 {
            width: 102px;
            text-align: center;
            height: 40px;
            border-radius: 4px;
            font-size: 13px;
            color: #fff;
            background-color: #32aeec;
            cursor: pointer;
            user-select: none;
            line-height: 40px;
            box-sizing: border-box;
            &:hover {
              background-color: #53b7e9;
            }
          }
          .lb-btn1 {
            width: 102px;
            text-align: center;
            height: 40px;
            border-radius: 4px;
            font-size: 13px;
            color: #222;
            cursor: pointer;
            user-select: none;
            line-height: 40px;
            box-sizing: border-box;
            margin-right: 40px;
            border: 1px solid #e3e5e7;
          }
        }
        .newlist-name-line1 {
          width: 100%;
          height: 40px;
          margin: 20px 0 10px;
          box-sizing: border-box;
          padding: 0 20px;
          position: relative;
          .titleinp {
            width: 100%;
            height: 40px;
            outline: none;
            box-sizing: border-box;
            border: 1px solid #e3e5e7;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 0 50px 0 10px;
          }
          .inp-title {
            position: absolute;
            right: 30px;
            top: 50%;
            font-size: 12px;
            color: #9499A0;
            translate: 0 -50%;
          }
        }
        .newlist-intro-line2 {
          width: 100%;
          height: 60px;
          margin: 20px 0 10px;
          box-sizing: border-box;
          padding: 0 20px;
          .introinp {
            box-sizing: border-box;
            padding: 5px;
            width: 100%;
            height: 60px;
            outline: none;
            resize: none;
            box-sizing: border-box;
            border: 1px solid #e3e5e7;
            border-radius: 4px;
          }
        }
      }
    }
    .upbox-title2 {
      margin: 20px 0;
      width: 100%;
      height: 20px;
      line-height: 20px;
      font-size: 16px;
      font-weight: 550;
      color: #212121;
    }
    .one-upbox {
      margin-top: 20px;
      min-height: 40px;
      line-height: 40px;
      display: flex;
      align-items: center;
      .left-text-span {
        font-size: 14px;
        color: #949494;
        margin-right: 20px;
        width: 120px;

      }
      .input-box-main-tag {
        width: 120px;
        height: 40px;
        position: relative;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #b5b5b5;
        .input2box {
          margin-top: 7px;
          width: 100%;
          height: 40px;
          border-radius: 6px;
          outline: none;
          border: 0;
          padding-left: 10px;
          // box-sizing: border-box;
          box-sizing: border-box;
          margin-top: 0;
          .inp2span {
            top: 50%;
            translate: 0 -50%;
            position: absolute;
            font-size: 14px;
            letter-spacing: 2px;
            color: #fff;
            z-index: 0;
            display: block;
            height: 30px;
            padding: 0 10px;
            background-color: #00A1D6;
            text-align: center;
            line-height: 30px;
            border-radius: 4px;
          }
          cursor: pointer;
          position: relative;
          .watchmore {
            position: absolute;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 25px;
            right: 0;
            top: 50%;
            translate: 0 -50%;
            // rotate: 90deg;
            transition: rotate 0.4s linear;
            user-select: none;
            cursor: pointer;
          }
        }
        .selectMaintag {
          translate: 100vw 0;
          opacity: 1;
          z-index: 3;
          top: 0;
          left: 90px;
          position: absolute;
          width: 300px;
          height: 300px;
          background-color: #fff; 
          border-radius: 4px;
          border: 1px solid #b8b4b4;
          box-shadow: 0 0 2px 1px rgba(184, 184, 184, 0.747);
          .maintag-title {
            width: 100%;
            height: 40px;
            text-align: center;
            line-height: 40px;
            font-size: 14px;
            color: #222;
          }
          .tag-content {
            width: 100%;
            height: 240px;
            box-sizing: border-box;
            padding: 0 20px;
            .innercontent-up {
              width: 100%;
              height: 100%;
              border-radius: 4px;
              background-color: #e7ecee;
              box-sizing: border-box;
              padding: 10px;
              overflow-y: auto;
              .one-main-tag-s {
                display: inline-block;
                padding: 0 15px;
                height: 30px;
                border-radius: 4px;
                color: #fff;
                background-color: #32AEEC;
                line-height: 30px;
                cursor: pointer;
                user-select: none;
                margin: 0 15px 5px 0;
              }
            }
          }
        }
      }
      .input-out-box1 {
        flex: 1;
        margin-right: 150px;
        min-height: 40px;
        position: relative;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #b5b5b5;
        box-sizing: border-box;
        padding: 0 10px;
          .onetags {
            display: inline-block;
            margin-right: 15px;
            height: 30px;
            z-index: 2;
            width: fit-content;
            border-radius: 4px;
            background-color: #00A1D6;
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            padding: 0 9px 0 11px;
            .icon {
              margin-left: 10px;
              cursor: pointer;
              user-select: none;
            }
          }
          .rightinptags {
            // translate: 0 -50%;
            margin-top: 10px;
            z-index: 2;
            position: absolute;
            flex: 1;
            background-color: transparent;
            height: 20px;
            outline: none;
            border: 0;
            padding: 0 5px;
            box-sizing: border-box;
          }
        .ss-sp {
          position: absolute;
          top: 10px;
          translate: 0 -50%;
          font-size: 12px;
          right: -100px;
          color: #949494;
          user-select: none;
        }
        .ss-sp2 {
          position: absolute;
          top: 30px;
          translate: 0 -50%;
          font-size: 12px;
          right: -60px;
          color: #949494;
          user-select: none;
        }
      }
      .title-out-box {
        position: relative;
        height: fit-content;
        flex: 1;
        box-sizing: border-box;
        padding-right: 150px;
        .spical-sp1 {
          position: absolute;
          right: 160px;
          top: 50%;
          translate: 0 -50%;
          color: #9BA4AB;
          font-size: 14px;
        }
      }
      .rightinp {
        width: 100%;
        height: 40px;
        border-radius: 6px;
        outline: none;
        border: 1px solid #b5b5b5;
        // box-sizing: border-box;
        padding: 0 5px;
        box-sizing: border-box;
        padding: 0 60px 0 10px;
      }
    }
    .one-upbox2 {
      margin-top: 30px;
      height: 120px;
      line-height: 120px;
      display: flex;
      align-items: center;
      .left-text-span {
        font-size: 14px;
        color: #949494;
        margin-right: 20px;
        width: 120px;
      }
      .intro-box {
        height: fit-content;
        flex: 1;
        box-sizing: border-box;
        padding-right: 150px;
        display: flex;
        align-items: center;
        .rightinp {
          z-index: 2;
          width: 100%;
          height: 120px;
          border-radius: 6px;
          outline: none;
          border: 1px solid #b5b5b5;
          padding: 5px;
          box-sizing: border-box;
          resize: none;
        }
      }
    }
    .one-upbox3 {
      margin-top: 30px;
      height: 127px;
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      .left-text-spancover {
        font-size: 14px;
        color: #949494;
        margin-right: 20px;
        width: 120px;
      }
      .cover2 {
        margin-left: 20px;
        font-size: 13px;
        color: #fff;
        height: 30px;
        line-height: 30px;
        border-radius: 6px;
        padding: 0 10px;
        background-color: #32AEEC;
        cursor: pointer;
        user-select: none;
        position: absolute;
        bottom: 0;
        left: 250px;
      }
      .right-coverbox {
        width: 169px;
        height: 127px;
        border-radius: 6px;
        border: 1px solid #b5b5b5;
        position: relative;
        background-color: #000;
        .icon {
          position: absolute;
          left: 50%;
          top: 50%;
          translate: -50% -50%;
        }
        .upimg {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 1;
          display: block;
          // object-fit: cover;
          object-fit: contain;
        }
        .upmask {
          width: 100%;
          height: 100%;
          position: absolute;
          z-index: 2;
          cursor: pointer;
        }
        .bottom-tow-box {
          position: absolute;
          width: 100%;
          height: 28px;
          background: rgba(0, 0, 0, .7);
          z-index: 3;
          bottom: 0;
          display: flex;
          line-height: 28px;
          display: flex;
          align-items: center;
          justify-content: space-around;
          .two-mid-line {
            height: 15px;
            width: 1px;
            background-color: #fff;
          }
          .one-btn-toclick {
            color: #fff;
            font-size: 12px;
            cursor: pointer;
            user-select: none;
            &:hover {
              color: #e6e0e0;
            }
          }
        }
      }
    }
    .upsnebtn {
      margin: 0 auto;
      margin-top: 80px;
      width: 90px;
      height: 40px;
      border-radius: 6px;
      background-color: #32AEEC;
      color: #fff;
      text-align: center;
      line-height: 40px;
      letter-spacing: 3px;
      font-size: 15px;
      cursor: pointer;
      user-select: none;
    }
  }
  .done-divbox {
    width: 100%;
    margin-top: 10%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    .btnline {
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      margin-top: 50px;
      .backtohome {
        width: 90px;
        height: 40px;
        border-radius: 6px;
        margin-right: 30px;
        background-color: #32AEEC;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        a {
          display: block;
          width: 100%;
          height: 100%;
          color: #fff;
          text-decoration: none;
        }
        &:hover {
          background-color: #2d93c5;
        }
      }
      .onemore {
        width: 90px;
        height: 38px;
        border-radius: 6px;
        text-align: center;
        line-height: 38px;
        font-size: 14px;
        color: #949994;
        border: 1px solid #949494;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}

.upcover-view {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  background: rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  .upview-box-cover {
    margin-top: 100px;
    width: 800px;
    height: fit-content;
    background-color: #fff;
    border-radius: 6px;
    .ucb-top-title {
      display: flex;
      width: 100%;
      height: 63px;
      box-sizing: border-box;
      padding: 0 63px;
      box-sizing: border-box;
      border-bottom: 1px solid #e3e5e3;
      position: relative;
      .one-top-cvb-box {
        height: 63px;
        line-height: 63px;
        margin-right: 30px;
        position: relative;
        .ucb-span {
          font-size: 16px;
          color: #18191C;
          cursor: pointer;
          user-select: none;
        }
        .ucb-active-line {
          left: 50%;
          translate: -50% 0;
          position: absolute;
          width: 80%;
          bottom: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: #fff;
        }
      }
      .one-top-cvb-box-active {
        .ucb-span {
          color: #32AEEC
        }
        .ucb-active-line {
          background-color: #32aeec;
        }
      }
      .clode-upbox {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 64px;
        rotate: 45deg;
        top: 50%;
        translate: 0 -50%;
        cursor: pointer;
        user-select: none;
      }
    }
    .ucb-content {
      width: 100%;
      height: fit-content;
      .ubc-con1 {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 40px 0 60px 0;
        .cutpicture-box {
          width: 100%;
          height: fit-content;
          padding: 0 32px;
          .suit-imgbox {
            width: 100%;
            height: 365px;
            display: flex;
            .left-changebox {
              width: 530px;
              height: 365px;
              .let-top-text {
                width: 100%;
                height: 19px;
                line-height: 19px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;
                .ltt {
                  font-size: 14px;
                  color: #18191C;
                  margin-right: 30px;
                }
                .ltt2 {
                  cursor: pointer;
                  user-select: none;
                  .outlabel {
                    position: relative;
                    .iconsp {
                      font-size: 13px;
                      color: #32AEEC;
                      cursor: pointer;
                    }
                    .rightinpfile {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      opacity: 0;
                    }
                  }
                  
                }
              }
              .img-suit-part {
                margin: 0 auto;
                height: 300px;
                width: fit-content;
                .mid-sui-box {
                  width: fit-content;
                  height: 300px;
                  position: relative;
                  background-color: #000;
                  .suit-bx {
                    // 高大于宽
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 75%;
                    box-sizing: border-box;
                    background-color: transparent;
                    // border: 2px solid #ff6699;
                    cursor: move;
                    .ltpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      top: -3px;
                      left: -3px;
                      cursor: se-resize;
                    }
                    .lbpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      bottom: -3px;
                      left: -3px;
                      cursor: ne-resize;
                    }
                    .rtpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      top: -3px;
                      right: -3px;
                      cursor: sw-resize;
                    }
                    .rbpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      bottom: -3px;
                      right: -3px;
                      cursor: nw-resize;
                    }
                    .tline {
                      position: absolute;
                      width: 100%;
                      height: 2px;
                      top: -1px;
                      background-color: #ff6699;
                      cursor: n-resize;
                    }
                    .rline {
                      position: absolute;
                      width: 2px;
                      height: 100%;
                      right: -1px;
                      background-color: #ff6699;
                      cursor: e-resize;
                    }
                    .bline {
                      position: absolute;
                      width: 100%;
                      height: 2px;
                      bottom: -1px;
                      background-color: #ff6699;
                      cursor: s-resize;
                    }
                    .lline {
                      position: absolute;
                      height: 100%;
                      width: 2px;
                      left: -1px;
                      background-color: #ff6699;
                      cursor: w-resize;                      
                    }
                  }
                  .wbiggerthenh {
                    // 宽大于高
                    height: 100%;
                    width: 75%;
                  }
                  .suit-innerimg2 {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    user-select: none;
                    // clip: rect(0, 0, 0 ,0);
                  }
                  .suit-innerimg {
                    width: 100%;
                    height: 100%;
                    // opacity: 0.4;
                    user-select: none;
                  }
                }
              }
              .bottom-imginfos {
                margin-top: 15px;
                width: 100%;
                height: 15px;
                line-height: 15px;
                font-size: 12px;
                color: #6A6A6A;
              }
            }
            .right-showbox {
              height: 365px;
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              .rs-tilte {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 13px;
                color: #949994;
                text-align: center;
              }
              .yuanlanbox {
                margin-top: 20px;
                width: 170px;
                height: 150px;
                background-color: #949494;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .inner-yulan {
                  background-color: #fff;
                  width: 156px;
                  height: 117px;
                }
              }
            }
          }
          .other-video-img {
            margin: 50px 0 30px;
            width: 100%;
            height: 60px;
            background-color: red;
          }
          .done-line {
            margin-top: 20px;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            .dl-box1 {
              width: 128px;
              height: 40px;
              box-sizing: border-box;
              border-radius: 6px;
              border: 1px solid #18191C;
              text-align: center;
              line-height: 40px;
              font-size: 14px;
              color: #18191c;
              cursor: pointer;
              user-select: none;
              margin-right: 30px;
            }
            .dl-box2 {
              width: 128px;
              height: 40px;
              box-sizing: border-box;
              border-radius: 6px;
              text-align: center;
              line-height: 40px;
              font-size: 14px;
              background-color: #00A1D6;
              color: #fff;
              cursor: pointer;
              user-select: none;
              margin-right: 30px;
            }
          }
        }
      }
      .ubc-con2 {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 40px 0 60px 0;
        .uo-box-content {
          width: 498px;
          height: 258px;
          border: 1px dashed #00A1D6 ;
          background-color: #fff;
          text-align: center;
          line-height: 258px;
          position: relative;
          .rightinpfile {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            cursor: pointer;
            opacity: 0;
          }
          .ubc-text {
            font-size: 14px;
            color: #9499A0;
          }
        }
        .cutpicture-box {
          width: 100%;
          height: fit-content;
          padding: 0 32px;
          .suit-imgbox {
            width: 100%;
            height: 365px;
            display: flex;
            .left-changebox {
              width: 530px;
              height: 365px;
              .let-top-text {
                width: 100%;
                height: 19px;
                line-height: 19px;
                margin-bottom: 17px;
                display: flex;
                align-items: center;
                .ltt {
                  font-size: 14px;
                  color: #18191C;
                  margin-right: 30px;
                }
                .ltt2 {
                  cursor: pointer;
                  user-select: none;
                  .outlabel {
                    position: relative;
                    .iconsp {
                      font-size: 13px;
                      color: #32AEEC;
                      cursor: pointer;
                    }
                    .rightinpfile {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      opacity: 0;
                    }
                  }
                  
                }
              }
              .img-suit-part {
                margin: 0 auto;
                height: 300px;
                width: fit-content;
                .mid-sui-box {
                  width: fit-content;
                  height: 300px;
                  position: relative;
                  background-color: #000;
                  .suit-bx {
                    // 高大于宽
                    position: absolute;
                    z-index: 2;
                    width: 100%;
                    height: 75%;
                    box-sizing: border-box;
                    background-color: transparent;
                    // border: 2px solid #ff6699;
                    cursor: move;
                    .ltpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      top: -3px;
                      left: -3px;
                      cursor: se-resize;
                    }
                    .lbpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      bottom: -3px;
                      left: -3px;
                      cursor: ne-resize;
                    }
                    .rtpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      top: -3px;
                      right: -3px;
                      cursor: sw-resize;
                    }
                    .rbpoint {
                      position: absolute;
                      width: 10px;
                      height: 10px;
                      border-radius: 5px;
                      background-color: #ff6699;
                      bottom: -3px;
                      right: -3px;
                      cursor: nw-resize;
                    }
                    .tline {
                      position: absolute;
                      width: 100%;
                      height: 2px;
                      top: -1px;
                      background-color: #ff6699;
                      cursor: n-resize;
                    }
                    .rline {
                      position: absolute;
                      width: 2px;
                      height: 100%;
                      right: -1px;
                      background-color: #ff6699;
                      cursor: e-resize;
                    }
                    .bline {
                      position: absolute;
                      width: 100%;
                      height: 2px;
                      bottom: -1px;
                      background-color: #ff6699;
                      cursor: s-resize;
                    }
                    .lline {
                      position: absolute;
                      height: 100%;
                      width: 2px;
                      left: -1px;
                      background-color: #ff6699;
                      cursor: w-resize;                      
                    }
                  }
                  .wbiggerthenh {
                    // 宽大于高
                    height: 100%;
                    width: 75%;
                  }
                  .suit-innerimg2 {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    user-select: none;
                    // clip: rect(0, 0, 0 ,0);
                  }
                  .suit-innerimg {
                    width: 100%;
                    height: 100%;
                    // opacity: 0.4;
                    user-select: none;
                  }
                }
              }
              .bottom-imginfos {
                margin-top: 15px;
                width: 100%;
                height: 15px;
                line-height: 15px;
                font-size: 12px;
                color: #6A6A6A;
              }
            }
            .right-showbox {
              height: 365px;
              flex: 1;
              display: flex;
              flex-direction: column;
              align-items: center;
              .rs-tilte {
                width: 100%;
                height: 20px;
                line-height: 20px;
                font-size: 13px;
                color: #949994;
                text-align: center;
              }
              .yuanlanbox {
                margin-top: 20px;
                width: 170px;
                height: 150px;
                background-color: #949494;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .canvasref {
                  background-color: #fff;
                  width: 156px;
                  height: 117px;
                }
                .inner-yulan {
                  background-color: #fff;
                  width: 156px;
                  height: 117px;
                }
              }
            }
          }
          .done-line {
            margin-top: 20px;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            .dl-box1 {
              width: 128px;
              height: 40px;
              box-sizing: border-box;
              border-radius: 6px;
              border: 1px solid #18191C;
              text-align: center;
              line-height: 40px;
              font-size: 14px;
              color: #18191c;
              cursor: pointer;
              user-select: none;
              margin-right: 30px;
            }
            .dl-box2 {
              width: 128px;
              height: 40px;
              box-sizing: border-box;
              border-radius: 6px;
              text-align: center;
              line-height: 40px;
              font-size: 14px;
              background-color: #00A1D6;
              color: #fff;
              cursor: pointer;
              user-select: none;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}