// all
.live_room_sp {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  padding: 0 0 40px;
}

.live-all-title {
  width: 100%;
  height: 20px;
  height: 34px;
  line-height: 34px;
  margin: 10px 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .lat-left {
    height: 34px;
    display: flex;
    align-items: center;
    .title-live-sp {
      font-size: 24px;
      color: #18191C;
    }
    .sp-live-all-span {
      margin-left: 15px;
      font-size: 14px;
      color: #9499A0;
    }
  }
  .lat-right1 {
    width: 95px;
    height: 34px;
    box-sizing: border-box;
    text-align: center;
    line-height: 34px;
    border: 1px solid #e3e5e7;
    font-size: 14px;
    color: #18191C;
    display: flex;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    &:hover {
      background-color: #e3e5e7;
    }
    .icon {
      margin-left: 2px;
    }
  }
}
.liver-content1 {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .one-user-serach-box {
    width: 100%;
    height: 86px;
    display: flex;
    margin-bottom: 60px;
    .ousb-leftavatar {
      width: 86px;
      height: 86px;
      border-radius: 50%;
      margin-right: 15px;
    }
    .ousb-rightinfo {
      height: 86px;
      flex: 1;
      box-sizing: border-box;
      padding-right: 10px;
      .ousbr-name {
        width: 100%;
        height: 26px;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        color: #18191c;
      }
      .ousbr-infos {
        width: 100%;
        height: 17px;
        margin: 5px 0;
        font-size: 13px;
        color: #61666D;
      }
      .ousbr-subornot {
        width: 100px;
        height: 32px;
        background-color: #32aeec;
        color: #fff;
        text-align: center;
        line-height: 32px;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: #40C5F1;
        }
      }
      .ousbr-dountsub {
        width: 100px;
        height: 32px;
        background-color: #61666D;
        color: #F1F2F3;
        text-align: center;
        line-height: 32px;
        border-radius: 6px;
        font-size: 14px;
        cursor: pointer;
        user-select: none;
        &:hover {
          background-color: #e3e5e7;
        }
      }
    }
  }
}

.liver-content2 {
  margin-top: 20px;
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  .one-liveinroom-se {
    width: 100%;
    height: 240px;
    padding-bottom: 32px;
  }
  .toplive-imgbox {
    width: 100%;
    height: 152px;
    margin-bottom: 10px;
    background-color: red;
  }
  .live-title-a {
    width: 90%;
    height: 40px;
    margin-bottom: 10px;
    line-height: 20px;
    font-size: 15px;
    color: #18191C;
  }
  .live-user-a {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    color: #9499a0;
    display: flex;
    align-items: center;
    .icon {
      font-size: 14px;
      margin-right: 5px;
    }
  }
}