.upmg-view {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 64px 0 0 50px;
  .upmg-box {
    margin:  20px auto 40px auto;
    width: 1000px;
    height: fit-content;
    border-radius: 4px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 20px 24px;
    .upmg-title {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 22px;
      margin-bottom: 20px;
    }
    .upload-part {
      width: 100%;
      height: fit-content;
      box-sizing: border-box;
      padding: 10px;
      background-color: #dce2e6;
      border-radius: 4px;
      .mgfile {
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }
      .inner-imgbox {
        // display: grid;
        gap: 16px;
        width: 100%;
        height: fit-content;
        position: relative;
        display: flex;
        .add-mg-box {
          flex-shrink:0;
          width: 120px;
          height: 120px;
          box-sizing: border-box;
          text-align: center;
          line-height: 40px;
          border: 2px dashed #e3e5e7;
          border-radius: 4px;
          background-color: #fff;
          text-align: center;
          line-height: 140px;
          font-size: 14px;
          color: #9499a0;
          user-select: none;
          cursor: pointer;
        }
        .upreslut-box1 {
          flex-shrink:0;
          width: 120px;
          height: fit-content;
          border-radius: 4px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          overflow: hidden;
          img {
            width: 120px;
            border-radius: 4px;
          }
          .closeview {
            position: absolute;
            width: 120px;
            height: 100%;
            border-radius: 4px;
            &:hover {
              background-color: #00000080;
            }
            .iconfont {
              position: absolute;
              right: 5px;
              top: 5px;
              color: #ffffff80;
              cursor: pointer;
              &:hover {
                color: #fff;
                user-select: none;
              }
            }
          }
        }
      }
    }
    .attention-view {
      width: 100%;
      height: 100%;
      position: fixed;
      z-index: 5;
      background-color: #00000080;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .attention-box {
        width: 500px;
        height: 220px;
        background-color: #fff;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 24px;
        .attention1 {
          width: 100%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          font-size: 22px;
          position: relative;
          .iconbox {
            position: absolute;
            width: 20px;
            height: 20px;
            rotate: 45deg;
            top: 10px;
            translate: 0 -50%;
            right: 0;
            .icon {
              cursor: pointer;
              user-select: none;
            }
          }
        }
        .attention2 {
          margin-top: 20px;
          width: 100%;
          font-size: 14px;
          height: 40px;
          line-height: 40px;
          text-align: center;
        }
        .attention3 {
          width: 92px;
          height: 40px;
          margin-top: 20px;
          cursor: pointer;
          user-select: none;
          font-size: 14px;
          color: #fff;
          border-radius: 4px;
          background-color: #32aeec;
          margin: 20px auto 0 auto;
          text-align: center;
          line-height: 40px;
        }
      }
    }
    .chapter-line {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      display: flex;
      .one-upimg-linecp {
        flex: 1;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #e3e5e7;
        border-radius: 4px;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0 20px;
        .text-span {
          font-size: 14px;
          color: #9499a0;
        }
        .titlespan {
          flex: 1;
          height: 30px;
          margin-left: 30px;
          outline: none;
          border: none;
        }
      }
      .spcp1 {
        margin-right: 40px;
      }
    }
    .one-upimg-line {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid #e3e5e7;
      border-radius: 4px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 0 20px;
      .text-span {
        font-size: 14px;
        color: #9499a0;
      }
      .titlespan {
        flex: 1;
        height: 30px;
        margin-left: 30px;
        outline: none;
        border: none;
      }
    }
    .one-upimg-line3 {
      margin-top: 20px;
      width: 100%;
      min-height: 40px;
      box-sizing: border-box;
      border: 1px solid #e3e5e7;
      border-radius: 4px;
      box-sizing: border-box;
      padding: 0 20px;
      .div2-outbox {
        width: 30%;
        height: 40px;
        display: flex;
        align-items: center;
        .text-span {
          font-size: 14px;
          color: #9499a0;
        }
        .titlespan {
          flex: 1;
          height: 30px;
          margin-left: 30px;
          outline: none;
          border: none;
        }
        .hadselectd-box {
          font-size: 14px;
          color: #9499a0;
        }
      }
      .div3-outbox {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        position: relative;
        .text-span {
          font-size: 14px;
          color: #9499a0;
        }
        .text-sp2 {
          margin-left: 30px;
          font-size: 14px;
          color: #e3e5e7;
        }
        .titlespan {
          flex: 1;
          height: 30px;
          margin-left: 30px;
          outline: none;
          border: none;
        }
        .right-pp {
          height: 30px;
          flex: 1;
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;
          .seelectspan {
            flex: 1;
            height: 30px;
            margin: 0 10px 0 30px;
            line-height: 35px;
            font-size: 14px;
          }
          .iconcliecked {
            rotate: 180deg;
            transition: rotate 0.4s ease;
          }
          .iconfont {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            rotate: 0;
            transition: rotate 0.4s ease;
          }
          .select-box {
            position: absolute;
            z-index: 2;
            top: 45px;
            width: 100px;
            height: 100px;
            background-color: #fff;
            border-radius: 4px;
            right: 0px;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 10px 0;
            border: 1px solid #26252546;
            .one-item {
              width: 100%;
              height: 40px;
              text-align: center;
              line-height: 40px;
              font-size: 14px;
              color: #222;
              user-select: none;
              &:hover {
                cursor: pointer;
                background-color: #32aeec;
                color: #fff;
              }
            }
          }
        }
        .hadselectd-box {
          font-size: 14px;
          color: #9499a0;
        }
      }
      .res-append {
        width: 100%;
        max-height: 400px;
        overflow-y: auto;
        box-sizing: border-box;
        padding-bottom: 20px;
        .one-res-box {
          width: 100%;
          height: 140px;
          box-sizing: border-box;
          padding: 10px 20px;
          display: flex;
          user-select: none;
          cursor: pointer;
          &:hover {
            background-color: #e3e5e7;
          }
          .left-img-cover {
            height: 120px;
            width: 90px;
            background-color: pink;
            img {
              width: 100%;
              height: 100%;
              // object-fit: fill;
            }
          }
          .dirght-info-box {
            flex: 1;
            height: 120px;
            .info-right-line {
              margin-left: 20px;
              width: 100%;
              height: 30px;
              line-height: 30px;
              .titlesp {
                font-size: 16px;
                color: #222;
              }
              .authorsp {
                font-size: 14px;
                color: #9499a0;
              }
              .tags {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                .one-tag {
                  height: 20px;
                  line-height: 20px;
                  padding: 0 15px;
                  border-radius: 10px;
                  background-color: #d4d0d0;
                  font-size: 12px;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .one-upimg-line2 {
      margin-top: 20px;
      width: 100%;
      height: 80px;
      box-sizing: border-box;
      border: 1px solid #e3e5e7;
      border-radius: 4px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding: 5px 20px;
      .introinp {
        font-family: micosoft;
        width: 100%;
        height: 100%;
        outline: none;
        resize: none;
        border: none;
      }
    }
    .addcover {
      margin-top: 20px;
      width: 120px;
      height: 160px;
      text-align: center;
      line-height: 160px;
      border-radius: 4px;
      box-sizing: border-box;
      border: 2px dashed #e3e5e7;
      font-size: 14px;
      color: #9499a0;
      position: relative;
      .addcoverinput {
        display: none;
      }
      .showimg {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        left: 0;
        top: 0;
      }
      .cover-control {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        left: 0;
        top: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
      }
      .cover-view {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #00000080;
        display: flex;
        align-items: center;
        justify-content: center;
        .cover-box {
          width: 600px;
          min-height: 500px;
          background-color: #fff;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 20px;
          .cover-title {
            width: 100%;
            height: 40px;
            line-height: 40px;
            font-size: 22px;
            text-align: center;
            color: #222;
          }
          .img-content {
            margin-top: 20px;
            width: 100%;
            height: 320px;
            display: flex;
            .left-img-content {
              width: 360px;
              height: 320px;
              padding: 10px 0;
              box-sizing: border-box;
              background-color: #000000bd;
              display: flex;
              align-items: center;
              justify-content: center;
              .img-out-box-suit {
                position: relative;
                height: 300px;
                .cover-img1 {
                  height: 300px;
                }
                .changesizebox {
                  position: absolute;
                  top: 0;
                  left: 0;
                  border: 1px solid pink;
                  box-sizing: border-box;
                }
              }
            }
            .right-img-content {
              margin: 50px 0 0 25px;
              width: 150px;
              height: 200px;
              background-color: blue;
            }
          }
          .bnt-line {
            margin-top: 20px;
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: center;
            .cahngimg {
              width: 92px;
              height: 40px;
              border-radius: 4px;
              background-color: #fff;
              cursor: pointer;
              box-sizing: border-box;
              border: 1px solid #e3e5e7;
              user-select: none;
              text-align: center;
              line-height: 40px;
              color: #9499a0;
              margin-right: 20px;
            }
            .sned-img-bnt {
              width: 92px;
              height: 40px;
              border-radius: 4px;
              background-color: #fff;
              cursor: pointer;
              user-select: none;
              text-align: center;
              line-height: 40px;
              background-color: #32aeec;
              color: #fff;
            }
          }
        }
      }
    }
    .btn-line-upload {
      width: 100%;
      height: 40px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 40px;
      .done-btn2 {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        .doneb1 {
          width: 82px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          color: #9499a0;
          border: 1px solid #9499a0;
          box-sizing: border-box;
          cursor: pointer;
          user-select: none;
          border-radius: 4px;
          margin-right: 40px;
        }
        .doneb2 {
          width: 82px;
          height: 40px;
          background-color: #32aeec;
          text-align: center;
          line-height: 40px;
          font-size: 14px;
          color: #fff;
          cursor: pointer;
          user-select: none;
          border-radius: 4px;
        }
        
      }
      .done-btn {
        width: 82px;
        height: 40px;
        background-color: #32aeec;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        user-select: none;
        border-radius: 4px;
      }
      .uploadline {
        width: 100%;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .numbersp {
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #9499a0;
        }
        .numbersp2 {
          height: 40px;
          width: 40px;
          line-height: 40px;
          font-size: 14px;
          color: #9499a0;
        }
        .upload-progress-line {
          width: 600px;
          height: 4px;
          border-radius: 2px;
          background-color: #9499a0;
          margin: 0 20px;
          .done-line1 {
            height: 4px;
            border-radius: 2px;
            background-color: #32aeec;
            width: 0;
          }
        }
      }
    }
  }
}